@import url('https://fonts.googleapis.com/css2?family=Kings&family=Yuji+Mai&family=Yusei+Magic&display=swap');

* {
    // --pc-name: "Claire Asteranza";
    // --pl-name: "PL: 颯";
    // --name-color: #FFEB8D;

    --pc-name: "紅 日霞";
    --pl-name: "KP: 檸檬茶";
    --name-color: #F6AD48;

    --gauge-color1: #34BD6D;    // HP
    --gauge-color2: #11A3CF;    // MP
    --gauge-color3: #2B77E7;    // SAN
    --ex-param-color1: #2759FD; // DEX
    --ex-param-color2: #2759FD; // 所持金
    --shadow-color: #FFEB8D;    // ドロップシャドウ

    // 汎用の縁取り
    --border-color: rgb(245, 245, 245);
    --border-width: 2px;
    --border-filter:
        drop-shadow(var(--border-color) var(--border-width) var(--border-width) 0px)
        drop-shadow(var(--border-color) calc(0px - var(--border-width)) calc(0px - var(--border-width)) 0px)
        drop-shadow(var(--border-color) calc(0px - var(--border-width)) var(--border-width) 0px)
        drop-shadow(var(--border-color) var(--border-width) calc(0px - var(--border-width)) 0px)
        drop-shadow(var(--border-color) 0px var(--border-width) 0px)
        drop-shadow(var(--border-color) 0px calc(0px - var(--border-width)) 0px)
        drop-shadow(var(--border-color) calc(0px - var(--border-width)) 0px 0px)
        drop-shadow(var(--border-color) var(--border-width) 0px 0px);

    // テキストの縁取り
    --text-border-color: rgb(245, 245, 245);
    --text-border-width: 4px;
    --x: 0 0 var(--text-border-width) var(--text-border-color);
    --y: var(--x), var(--x), var(--x), var(--x), var(--x), var(--x);
    --z: var(--y), var(--y), var(--y), var(--y), var(--y), var(--y);
    --text-border: var(--z), var(--z), var(--z), var(--z), var(--z), var(--z);
};

/* 影をつける */
#root > div > div {
    filter: drop-shadow(8px 6px 0px var(--shadow-color));
}

// キャラ名・プレーヤー名の共通設定
%element-setting {
    position: absolute;
    z-index: 20;
    font-family: Kings, "Yuji Mai";
    color: var(--name-color);
    text-align: center;
    text-shadow: var(--text-border);
    white-space: nowrap;
}

// キャラ名
span.MuiBadge-root::before {
    @extend %element-setting;
    content: var(--pc-name);
    left: 240px;
    top: 420px;
    width: 600px;
    height: 100px;
    font-size: 60pt;
    transform: translate(-300px, -50px) rotate(-12.5deg);
}

// プレーヤー名
span.MuiBadge-root::after {
    @extend %element-setting;
    content: var(--pl-name);
    left: 240px;
    top: 500px;
    width: 240px;
    height: 40px;
    font-size: 24pt;
    transform: translate(-120px, -20px) rotate(-12.5deg);
}

// アバター
span.MuiBadge-root {

    // 位置調整
    position: absolute;
    left: 20px;
    top: 50px;
    
    // アイコン画像
    > div.MuiAvatar-root {
        width: 400px;
        height: 400px;
        border: 0;
        border-radius: 0;
        overflow: visible;
        background-color: rgba(0,0,0,0);
        filter: var(--border-filter);
    }

    %initiative-setting {
        position: absolute;
        display: block;
        overflow: visible;
        font-family: Kings;
        font-weight: 900 !important;
        font-style: italic;
        text-shadow: var(--text-border);
    }

    // イニシアチブ
    > span {
        @extend %initiative-setting;
        width: 200px !important;
        height: 50px !important;
        left: 170px !important;
        top: 85px !important;
        color: var(--ex-param-color1);
        font-size: 72pt;
        text-align: right;
        border-radius: 0;
        padding: 0;
        background-color: rgba(0,0,0,0) !important;
    }

    // イニシアチブラベル
    > span::after {
        @extend %initiative-setting;
        content: "DEX";
        color: var(--ex-param-color1);
        font-size: 24pt;
        width: 50px !important;
        height: 20px !important;
        left: 170px;
        top: 60px;
    }
}

// ゲージ
span.MuiBadge-root + div > div {
    
    // 位置調整
    display: block;
    position: absolute;

    // ゲージの共通設定
    %gauge-setting {
        position: absolute;

        // 文字情報
        > div:nth-of-type(1) {

            // 共通フォント設定
            %value-setting {
                position: absolute;
                display: block;
                width: 200px;
                height: 50px;
                overflow: visible;
                font-family: Kings, "Yuji Mai";
                font-weight: 900 !important;
                font-style: italic;
                text-shadow: var(--text-border);
            }

            // ラベル
            > p:nth-of-type(1) {
                @extend %value-setting;
                z-index: 10;
                left: -35px;
                top: -5px;
                font-size: 18pt;
                text-align: right;
            }

            // 数値
            > p:nth-of-type(2) {

                // 分母
                @extend %value-setting;
                z-index: 5;
                left: 180px;
                top: -35px;
                font-size: 36pt;

                // 分子
                > span {
                    @extend %value-setting;
                    z-index: 5;
                    left: -200px;
                    top: -20px;
                    font-size: 48pt;
                    text-align: right;
                }
            }
        }

        // ゲージ
        > div:nth-of-type(2) {
            overflow: visible;
            width: 280px;
            height: 30px;
            border: 6px solid rgb(245, 245, 245);
            transform: rotate(-45deg) scale(1.25, 0.8) rotate(45deg);

            // 共通設定
            > div {
                width: 280px;
                height: 30px;
                margin: 0;
                border: 0;
                border-radius: 0;
                padding: 0;
            }
        }
    }

    // 共通設定の適用・位置の調整
    @for $i from 1 through 3 {
        > div:nth-of-type(#{$i}) {
            @extend %gauge-setting;
            left: calc(#{$i} * 50px + 70px);
            top: calc(#{$i} * 65px + 155px);
        }
    }

    // HPゲージの色
    > div:nth-of-type(1) {
        > div:nth-of-type(1) {
            > p:nth-of-type(1) { color: var(--gauge-color1); }
            > p:nth-of-type(2) { color: var(--gauge-color1); }
            > p:nth-of-type(2) > span { color: var(--gauge-color1); }
        }
        > div:nth-of-type(2) {
            > div:nth-of-type(1) { background-color: rgba(0,0,0,0.5); }
            > div:nth-of-type(2) { background-color: var(--gauge-color1); }
        }
    }

    // MPゲージの色
    > div:nth-of-type(2) {
        > div:nth-of-type(1) {
            > p:nth-of-type(1) { color: var(--gauge-color2); }
            > p:nth-of-type(2) { color: var(--gauge-color2); }
            > p:nth-of-type(2) > span { color: var(--gauge-color2); }
        }
        > div:nth-of-type(2) {
            > div:nth-of-type(1) { background-color: rgba(0,0,0,0.5); }
            > div:nth-of-type(2) { background-color: var(--gauge-color2); }
        }
    }

    // SANゲージの色
    > div:nth-of-type(3) {
        > div:nth-of-type(1) {
            > p:nth-of-type(1) { color: var(--gauge-color3); }
            > p:nth-of-type(2) { color: var(--gauge-color3); }
            > p:nth-of-type(2) > span { color: var(--gauge-color3); }
        }
        > div:nth-of-type(2) {
            > div:nth-of-type(1) { background-color: rgba(0,0,0,0.5); }
            > div:nth-of-type(2) { background-color: var(--gauge-color3); }
        }
    }

    // 数値のみ表示するゲージ
    > div:nth-of-type(4) {
        @extend %gauge-setting;
        left: 5px;
        top: 435px;
        > div:nth-of-type(1) {
            > p:nth-of-type(2) {
                color: rgba(0,0,0,0);
                text-shadow: none;
                > span {
                    color: var(--ex-param-color2);
                    text-shadow: var(--text-border);
                }
            }
        }
        > div:nth-of-type(2) { display: none; }
    }

    // 表示しないゲージ
    > div:nth-of-type(n+5) { display: none; }
}