@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-obs.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/-scrollbar.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/balloon.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/boardBackground.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/chat.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/cutIn.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/edit.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/header.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/modal.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/monitoring.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/newDice.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/scaling.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/status.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/timer.css");
@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/asset/volume.css");
#root > div > div > div > div > div > div > div > div > div:nth-of-type(2) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(3) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(4) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(5) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(6) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(7) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(8) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(10) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(11) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(12) {
  display: none;
}
#root > div > div > div > div > div > div > div > div > div:nth-of-type(13) {
  display: none;
}
