@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kings&family=Yuji+Mai&family=Yusei+Magic&display=swap");
* {
  --pc-name: "紅 日霞";
  --pl-name: "KP: 檸檬茶";
  --name-color: #F6AD48;
  --gauge-color1: #34BD6D;
  --gauge-color2: #11A3CF;
  --gauge-color3: #2B77E7;
  --ex-param-color1: #2759FD;
  --ex-param-color2: #2759FD;
  --shadow-color: #FFEB8D;
  --border-color: rgb(245, 245, 245);
  --border-width: 2px;
  --border-filter:
      drop-shadow(var(--border-color) var(--border-width) var(--border-width) 0px)
      drop-shadow(var(--border-color) calc(0px - var(--border-width)) calc(0px - var(--border-width)) 0px)
      drop-shadow(var(--border-color) calc(0px - var(--border-width)) var(--border-width) 0px)
      drop-shadow(var(--border-color) var(--border-width) calc(0px - var(--border-width)) 0px)
      drop-shadow(var(--border-color) 0px var(--border-width) 0px)
      drop-shadow(var(--border-color) 0px calc(0px - var(--border-width)) 0px)
      drop-shadow(var(--border-color) calc(0px - var(--border-width)) 0px 0px)
      drop-shadow(var(--border-color) var(--border-width) 0px 0px);
  --text-border-color: rgb(245, 245, 245);
  --text-border-width: 4px;
  --x: 0 0 var(--text-border-width) var(--text-border-color);
  --y: var(--x), var(--x), var(--x), var(--x), var(--x), var(--x);
  --z: var(--y), var(--y), var(--y), var(--y), var(--y), var(--y);
  --text-border: var(--z), var(--z), var(--z), var(--z), var(--z), var(--z);
}

/* 影をつける */
#root > div > div {
  filter: drop-shadow(8px 6px 0px var(--shadow-color));
}

span.MuiBadge-root::after, span.MuiBadge-root::before {
  position: absolute;
  z-index: 20;
  font-family: Kings, "Yuji Mai";
  color: var(--name-color);
  text-align: center;
  text-shadow: var(--text-border);
  white-space: nowrap;
}

span.MuiBadge-root::before {
  content: var(--pc-name);
  left: 240px;
  top: 420px;
  width: 600px;
  height: 100px;
  font-size: 60pt;
  transform: translate(-300px, -50px) rotate(-12.5deg);
}

span.MuiBadge-root::after {
  content: var(--pl-name);
  left: 240px;
  top: 500px;
  width: 240px;
  height: 40px;
  font-size: 24pt;
  transform: translate(-120px, -20px) rotate(-12.5deg);
}

span.MuiBadge-root {
  position: absolute;
  left: 20px;
  top: 50px;
}
span.MuiBadge-root > div.MuiAvatar-root {
  width: 400px;
  height: 400px;
  border: 0;
  border-radius: 0;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0);
  filter: var(--border-filter);
}
span.MuiBadge-root > span::after, span.MuiBadge-root > span {
  position: absolute;
  display: block;
  overflow: visible;
  font-family: Kings;
  font-weight: 900 !important;
  font-style: italic;
  text-shadow: var(--text-border);
}
span.MuiBadge-root > span {
  width: 200px !important;
  height: 50px !important;
  left: 170px !important;
  top: 85px !important;
  color: var(--ex-param-color1);
  font-size: 72pt;
  text-align: right;
  border-radius: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0) !important;
}
span.MuiBadge-root > span::after {
  content: "DEX";
  color: var(--ex-param-color1);
  font-size: 24pt;
  width: 50px !important;
  height: 20px !important;
  left: 170px;
  top: 60px;
}

span.MuiBadge-root + div > div {
  display: block;
  position: absolute;
}
span.MuiBadge-root + div > div > div:nth-of-type(4), span.MuiBadge-root + div > div > div:nth-of-type(3), span.MuiBadge-root + div > div > div:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(1) {
  position: absolute;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(1) {
  position: absolute;
  display: block;
  width: 200px;
  height: 50px;
  overflow: visible;
  font-family: Kings, "Yuji Mai";
  font-weight: 900 !important;
  font-style: italic;
  text-shadow: var(--text-border);
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1), span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(1) {
  z-index: 10;
  left: -35px;
  top: -5px;
  font-size: 18pt;
  text-align: right;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2) {
  z-index: 5;
  left: 180px;
  top: -35px;
  font-size: 36pt;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2) > span, span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2) > span {
  z-index: 5;
  left: -200px;
  top: -20px;
  font-size: 48pt;
  text-align: right;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(2), span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(2) {
  overflow: visible;
  width: 280px;
  height: 30px;
  border: 6px solid rgb(245, 245, 245);
  transform: rotate(-45deg) scale(1.25, 0.8) rotate(45deg);
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(2) > div, span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(2) > div, span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(2) > div, span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(2) > div {
  width: 280px;
  height: 30px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
}
span.MuiBadge-root + div > div > div:nth-of-type(1) {
  left: calc(1 * 50px + 70px);
  top: calc(1 * 65px + 155px);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) {
  left: calc(2 * 50px + 70px);
  top: calc(2 * 65px + 155px);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) {
  left: calc(3 * 50px + 70px);
  top: calc(3 * 65px + 155px);
}
span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(1) {
  color: var(--gauge-color1);
}
span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2) {
  color: var(--gauge-color1);
}
span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(1) > p:nth-of-type(2) > span {
  color: var(--gauge-color1);
}
span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.5);
}
span.MuiBadge-root + div > div > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
  background-color: var(--gauge-color1);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1) {
  color: var(--gauge-color2);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2) {
  color: var(--gauge-color2);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2) > span {
  color: var(--gauge-color2);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.5);
}
span.MuiBadge-root + div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
  background-color: var(--gauge-color2);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(1) {
  color: var(--gauge-color3);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2) {
  color: var(--gauge-color3);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(2) > span {
  color: var(--gauge-color3);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.5);
}
span.MuiBadge-root + div > div > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) {
  background-color: var(--gauge-color3);
}
span.MuiBadge-root + div > div > div:nth-of-type(4) {
  left: 5px;
  top: 435px;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2) {
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(1) > p:nth-of-type(2) > span {
  color: var(--ex-param-color2);
  text-shadow: var(--text-border);
}
span.MuiBadge-root + div > div > div:nth-of-type(4) > div:nth-of-type(2) {
  display: none;
}
span.MuiBadge-root + div > div > div:nth-of-type(n+5) {
  display: none;
}
